@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@theme{
  --color-regal-desktopSliderGradint: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --font-display: "Poppins", sans-serif;
}

/* globals.css */
.text-gradient-ugiftd {
  background: linear-gradient(317.25deg, #0A2844 7.58%, #0661B5 75.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
